body {
    background-color: #FEFBF6;
}

/* Estilos para encabezados */
h1 {
    color: #B67352; /* Color del texto */
    font-size: 32px; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Espaciado inferior */
  }
  
  label {
    color: #ECB159;
    font-size: 24px;
  }
  
  /* Estilos para tablas */
  table {
    width: 25%;
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1.5px solid #8CB9BD; /* Borde de las celdas */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
  }
  
  th {
    background-color: #f2f2f2; /* Color de fondo del encabezado */
  }
  
  /* Estilos para formularios */
  input, label {
    display: block;
    margin-bottom: 5px;
    size: 20px;
  }
  
  /* Estilos para contenedor principal */
  .container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Espaciado interno del contenedor */
  }
  
  #columna-1 {
    width: 300px; /* Ajusta el ancho del contenedor según sea necesario */
    margin: 20px; /* Ajusta el margen del contenedor según sea necesario */
    padding: 20px; /* Ajusta el relleno del contenedor según sea necesario */
    border: 2px solid #000000; /* Cambia #ff0000 al color que desees */
    border-radius: 10px; 
    background-color: aliceblue;
    text-align: center;
}